body {
  margin: 0;
}

div#snrg-app {
  --SNRG-GOLDEN-RATIO: 1.618;
  --SNRG-BACKGROUND-HUE: 225;
  --SNRG-BACKGROUND-SATURATION: 70%;
  --SNRG-TEXT-HUE: 210;
  --SNRG-TEXT-SATURATION: 29%;
  --SNRG-DARK-FILTER: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  --snrg-menu-height: 2rem;
  --snrg-menu-top: 1rem;
  --snrg-menu-left: 1rem;
  position: relative;
  background: hsl(var(--SNRG-BACKGROUND-HUE), var(--SNRG-BACKGROUND-SATURATION), var(--snrg-background-lightness));
  color: hsl(var(--SNRG-TEXT-HUE), var(--SNRG-TEXT-SATURATION), var(--snrg-text-lightness));
}

div#snrg-app[data-snrg-theme='light'] {
  --snrg-light-sign: 1;
  --snrg-background-lightness: 100%;
  --snrg-text-lightness: 24.3%;
}

div#snrg-app:is([data-snrg-theme='dark'], [data-snrg-route='/']) {
  --snrg-light-sign: -1;
  --snrg-background-lightness: 10%;
  --snrg-text-lightness: 92.2%;
}